/* Color Theme Swatches in Hex */
.Green-1-hex { color: #32277c; }
.Green-2-hex { color: #443898; }
.Green-3-hex { color: #6b60bd; }
.Green-4-hex { color: #9991d4; }
.Green-5-hex { color: #d0ccee; }

/* Color Theme Swatches in RGBA */
.Green-1-rgba { color: rgba(50, 39, 124, 1); }
.Green-2-rgba { color: rgba(68, 56, 152, 1); }
.Green-3-rgba { color: rgba(107, 96, 189, 1); }
.Green-4-rgba { color: rgba(153, 145, 212, 1); }
.Green-5-rgba { color: rgba(208, 204, 238, 1); }