.two-force {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #32277c;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.two-force-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 40%;
}

.two-force-data input {
    text-align: center;
    color: #32277c;
}

::placeholder {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #32277c55;
}

.two-force-data button {
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    transition: .2s;
    margin-top: 10px;
}

.two-force-data button:hover {
    transform: translateY(-1.5px);
    background: rgba(0, 0, 0, 0.4);
}

input, button {
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 15px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .2px;
}

@media screen and (max-width: 1172px) {
    .two-force .two-force-data {
        display: grid;
        width: 50%;
    }
}

@media screen and (max-width: 638px) {
    .two-force .two-force-data {
        display: grid;
        width: 60%;
    }
}

@media screen and (max-width: 555px) {
    .two-force .two-force-data {
        display: grid;
        width: 70%;
    }
}